<md-content ng-cloak>
    <div layout="row" layout-align="start center">
        <h2>{{ctrl.title | translate}}</h2>
    </div>
    <md-content>
        <md-subheader>{{'TAR_HISTORY_SEARCH_HINT' | translate}}</md-subheader>
        <div layout-gt-sm="row" layout-margin layout-padding>
            <md-input-container class="md-block" flex-gt-sm="50">
                <label>{{'YEAR' | translate}}</label>
                <input mask="{{ctrl.tarHistoryFilters.year.mask.pattern}}" ng-model="ctrl.tarHistoryFilters.year.value"/>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm="50">
                <label>{{'MONTH' | translate}}</label>
                <md-select ng-model="ctrl.tarHistoryFilters.selectedMonth" placeholder="{{'MONTH' | translate}}">
                    <md-option ng-repeat="item in ctrl.tarHistoryFilters.months" ng-value="item">
                        {{item}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout-gt-sm="row" layout-margin layout-padding>
            <md-input-container class="md-block" flex-gt-sm="50">
                <label>{{'BUDGETAPPROVERSTATUS_LABEL' | translate}}</label>
                <md-select ng-model="ctrl.tarHistoryFilters.budgetApprovalStatus"
                           placeholder="{{'BUDGETAPPROVERSTATUS_LABEL' | translate}}">
                    <md-option ng-repeat="item in ctrl.tarHistoryFilters.aprrovalStatuses" ng-value="item">
                        {{item}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm="50">
                <label>{{'GSSAPPROVERSTATUS_LABEL' | translate}}</label>
                <md-select ng-model="ctrl.tarHistoryFilters.gssApprovalStatus"
                           placeholder="{{'GSSAPPROVERSTATUS_LABEL' | translate}}">
                    <md-option ng-repeat="item in ctrl.tarHistoryFilters.aprrovalStatuses" ng-value="item">
                        {{item}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </md-content>
    <grid options="ctrl.tarHistoryOptions"
          search-action="ctrl.search()"
          reset-action="ctrl.reset()"></grid>
</md-content>