<md-content ng-cloak>
    <md-tabs class="md-primary"
             md-dynamic-height="true"
             md-border-bottom="true">
        <md-tab id="tab1">
            <md-tab-label>{{ 'APPROVAL_TARS' | translate}}</md-tab-label>
            <md-tab-body>
                <md-content>
                    <md-subheader>{{'TAR_SEARCH_HINT' | translate}}</md-subheader>
                    <div layout-gt-sm="row" layout-margin layout-padding>
                        <md-input-container class="md-block" flex-gt-sm="50">
                            <label>{{'TRAVELLER_LABEL' | translate}}</label>
                            <input mask="{{ctrl.waitingForApprovalFilters.traveller.mask.pattern}}"
                                   repeat="{{ctrl.waitingForApprovalFilters.traveller.mask.repeat}}"
                                   ng-model="ctrl.waitingForApprovalFilters.traveller.value"/>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm="50">
                            <label>{{'REQUESTER_LABEL' | translate}}</label>
                            <input mask="{{ctrl.waitingForApprovalFilters.requester.mask.pattern}}"
                                   repeat="{{ctrl.waitingForApprovalFilters.requester.mask.repeat}}"
                                   ng-model="ctrl.waitingForApprovalFilters.requester.value"/>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row" layout-margin layout-padding>
                        <md-input-container class="md-block" flex-gt-sm="50">
                            <label>{{'BUDGETAPPROVER_LABEL' | translate}}</label>
                            <input mask="{{ctrl.waitingForApprovalFilters.budgetApprover.mask.pattern}}"
                                   repeat="{{ctrl.waitingForApprovalFilters.budgetApprover.mask.repeat}}"
                                   ng-model="ctrl.waitingForApprovalFilters.budgetApprover.value"/>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm="50">
                            <label>{{'BUDGETAPPROVERSTATUS_LABEL' | translate}}</label>
                            <md-select ng-model="ctrl.waitingForApprovalFilters.budgetApproverStatus"
                                        placeholder="{{'BUDGETAPPROVERSTATUS_LABEL' | translate}}">
                                <md-option ng-repeat="item in ctrl.waitingForApprovalFilters.aprrovalStatuses" ng-value="item">
                                    {{item}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row" layout="column" layout-margin layout-padding>
                        <grid-date-filter ng-model="ctrl.waitingForApprovalFilters.departureDate"
                                          label="DEPARTUREDATE_LABEL"
                                          flex-gt-sm="50"></grid-date-filter>

                        <grid-date-filter ng-model="ctrl.waitingForApprovalFilters.returnDate"
                                          label="RETURNDATE_LABEL"
                                          flex-gt-sm="50"></grid-date-filter>
                    </div>
                </md-content>
                <md-content>
                    <grid options="ctrl.tarWaitingForApprovalOptions"
                          search-action="ctrl.waitingForApprovalSearch()"
                          reset-action="ctrl.waitingForApprovalReset()"></grid>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab id="tab2">
            <md-tab-label>{{ 'DRAFT_TARS' | translate}}</md-tab-label>
            <md-tab-body>
                <md-content>
                    <grid options="ctrl.tarDraftsOptions"></grid>
                </md-content>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>