<md-content md-theme="pageTheme" flex>
    <ng-form name="form" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools" layout-align="space-between center">
                <h2>{{'ADVANCE_REQUEST' | translate}}</h2>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout="column" class="md-padding md-dialog-content">
            <div layout-gt-sm="row" layout-padding layout-margin>
                <md-input-container class="md-block" flex-gt-sm="30">
                    <label>{{'TRAVEL_ADVANCE_AMOUNT' | translate}}</label>
                    <input type="number" name="amount" ng-model="ctrl.model.amount"
                           required
                           min="0"
                           max="990000000000">
                    <div ng-messages="form.amount.$error" ng-if='ctrl.isFieldErrorVisible(form, "amount")'>
                        <div ng-messages-include="error-messages"></div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <md-select ng-model="ctrl.model.currencyType"
                               ng-model-options="{trackBy: '$value.title'}"
                               name="currencyType" aria-label="currency"
                               placeholder="{{'CURRENCY_LABEL' | translate}}"
                               required>
                        <md-option ng-repeat="item in ctrl.currencies" ng-value="item">
                            {{item.title}}
                        </md-option>
                    </md-select>
                    <div ng-messages="form.currencyType.$error"
                         ng-if="ctrl.isFieldErrorVisible(form, 'currencyType')">
                        <div ng-messages-include="error-messages"></div>
                    </div>
                </md-input-container>
            </div>
        </md-content>
        <div layout="row" layout-align="end center">
            <md-button class="md-raised md-primary saveButton" ng-click="ctrl.storeDestination(form)">
                {{ctrl.pageMode.actionName | translate}}
            </md-button>
        </div>
    </ng-form>
</md-content>