<accordion heading="{{'WORKFLOW_STATUS' | translate | uppercase}}">
    <workflow-status ng-model="ctrl.workflowModel"></workflow-status>
</accordion>
<accordion heading="{{'TAR_REQUEST_QUESTIONS' | translate | uppercase}}">
    <md-input-container class="md-block question" flex-gt-sm="50" layout-padding>
        <label>{{'PHOTOID_QUESTION' | translate}}</label>
        <input value="{{ctrl.model.photoId | translate | uppercase}}" disabled>
    </md-input-container>
    <md-input-container class="md-block question" flex-gt-sm="50" layout-padding>
        <label>{{'GLOBALSECURITY_QUESTION' | translate}}</label>
        <input value="{{ctrl.model.gSSTraining | translate | uppercase}}" disabled>
    </md-input-container>
    <md-input-container class="md-block question" flex-gt-sm="50" layout-padding>
        <label>{{'MEDICALCARD_QUESTION' | translate}}</label>
        <input value="{{ctrl.model.medicalEmergencyCard | translate | uppercase}}" disabled>
    </md-input-container>
    <div layout-gt-sm="row" layout-padding layout-align="start center">
        <md-input-container layout-margin class="md-block" flex-gt-sm="20">
            <label>{{'MEDICALPROVIDERNAME_QUESTION' | translate}}</label>
            <input ng-model="ctrl.model.medicalProviderName" disabled>
        </md-input-container>
        <md-input-container layout-margin class="md-block" flex-gt-sm="20">
            <label>{{'POLICYNUMBER_QUESTION' | translate}}</label>
            <input ng-model="ctrl.model.policyNumber" disabled>
        </md-input-container>
    </div>
    <md-input-container class="md-block question" flex-gt-sm="50" layout-padding>
        <label>{{'DIRECTOR_APPROVED_QUESTION' | translate}}</label>
        <input value="{{ctrl.model.approvedByDirector | translate | uppercase}}" disabled>
    </md-input-container>
    <md-input-container class="md-block question" flex-gt-sm="50" layout-padding>
        <label>{{'PDI_QUESTION' | translate}}</label>
        <input value="{{ctrl.model.readPDI | translate | uppercase}}" disabled>
    </md-input-container>
    <md-input-container class="md-block question" flex-gt-sm="50" layout-padding>
        <label>{{'VISA_QUESTION' | translate}}</label>
        <input value="{{ctrl.model.visaRequired | translate | uppercase}}" disabled>
    </md-input-container>
    <md-input-container class="md-block question" flex-gt-sm="50" layout-padding>
        <label>{{'HEALTH_QUESTION' | translate}}</label>
        <input value="{{ctrl.model.appropriateVaccination | translate | uppercase}}" disabled>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm="50" layout-padding>
        <label>{{'APPROPRIATE_EMERGENCY_QUESTION' | translate}}</label>
        <input value="{{ctrl.model.appropriateEmergencyContacts | translate | uppercase}}" disabled>
    </md-input-container>
    <md-input-container class="md-block question" flex-gt-sm="50" layout-padding>
        <label>{{'LONDON_OFFICE_QUESTION' | translate}}</label>
        <input value="{{ctrl.model.londonOfficeLocation | translate | uppercase}}" disabled>
    </md-input-container>
</accordion>
<accordion heading="{{'ADVANCE_REQUEST' | translate | uppercase}}" ng-if="ctrl.isTravelAdvanceAvailable()">
    <list ng-model="ctrl.model.travelAdvances"
          options="ctrl.listOptions.travelAdvanceListOptions"
          layout-margin>
    </list>
</accordion>
<accordion heading="{{'REQUEST_ITINERARY' | translate | uppercase}}">
    <list ng-model="ctrl.model.destinations"
          options="ctrl.listOptions.destinationsListOptions"
          layout-margin>
    </list>

    <div layout-gt-sm="row" layout-padding layout-margin>
        <md-input-container class="md-block" flex-gt-sm="30">
            <label>{{'FLIGHT_COST_LABEL' | translate}}</label>
            <input ng-model="ctrl.model.budgetSession.flightCost" disabled>
        </md-input-container>
        <md-input-container class="md-block">
            <input ng-model="ctrl.model.budgetSession.currencyType.title" disabled>
        </md-input-container>
    </div>
    <div layout-gt-md="row" layout-padding layout-margin>
        <md-input-container class="md-block" flex-gt-sm="50">
            <label>{{'ADDITIONAL_INFORMATION_LABEL' | translate}}</label>
            <textarea ng-model="ctrl.model.additionalInformation" disabled></textarea>
        </md-input-container>
    </div>
    <div layout-gt-md="row" layout-padding layout-margin>
        <people-picker ng-model="ctrl.model.travelCoordinator"
                       model-ids="ctrl.model.travelCoordinatorId"
                       options="ctrl.pickerOptions.travelCoordinatorPickerOptions"
                       flex-gt-sm="50"></people-picker>
        <people-picker ng-model="ctrl.model.budgetApprover"
                       model-ids="ctrl.model.budgetApproverId"
                       options="ctrl.pickerOptions.budgetApproverPickerOptions"
                       flex-gt-sm="50"></people-picker>
    </div>
</accordion>
<accordion heading="{{'OTHER_ESTIMATED_COSTS' | translate | uppercase}}">
    <list ng-model="ctrl.model.otherEstimatedCosts"
          options="ctrl.listOptions.estimatedCostsListOptions"
          layout-margin>
    </list>
    <div layout="row" layout-align="end center">
        <md-input-container class="md-block">
            <label>{{'TOTAL_COSTS_WITH_TAXES' | translate}} :</label>
            <input type="number" ng-model="ctrl.model.otherEstimatedCostsTotal"
                   name="totalCosts" disabled>
        </md-input-container>
    </div>
</accordion>
<accordion heading="{{'TAR_REQUEST_BUDGET' | translate | uppercase}}">
    <list ng-model="ctrl.model.budgetCodes"
          options="ctrl.listOptions.budgetCodesListOptions"
          layout-margin>
    </list>
    <div layout="row" layout-align="start center" layout-padding layout-margin>
        <md-input-container class="md-block">
            <label>{{'TOTAL_PERCENTAGE' | translate}} :</label>
            <input type="number" ng-model="ctrl.model.totalBudgetCodesPercentage" disabled>
        </md-input-container>
    </div>
</accordion>
<accordion heading="{{'TAR_REQUEST_ATTACH' | translate | uppercase}}">
    <div layout-gt-sm="row" layout-padding>
        <attachments ng-model="ctrl.model.uploadedAttachments" options="ctrl.attachmentsOptions" flex="100"
                     class="attachment-controls"></attachments>
    </div>
</accordion>