<md-content ng-cloak class="md-inline-form">
    <div layout-gt-sm="row" layout-align="start center">
        <h2>{{ctrl.title | translate}}</h2>
    </div>

    <toggle-accordion-section></toggle-accordion-section>

    <accordion heading="{{'REQUEST_INFO' | translate | uppercase}}">
        <div layout-gt-md="row" layout-padding>
            <people-picker ng-model="ctrl.model.traveller"
                           model-ids="ctrl.model.travellerId"
                           options="ctrl.pickerOptions.travellerPickerOptions" flex-gt-sm="50"></people-picker>
            <people-picker ng-model="ctrl.model.selectedEmergencyContacts"
                           options="ctrl.pickerOptions.emergencyPickerOptions" flex-gt-sm="50"
                           ng-if="!ctrl.isAdmin()"></people-picker>
        </div>
        <div layout-gt-md="row" layout-padding>
            <md-input-container class="md-block" flex-gt-sm="50">
                <label>{{'TRAVEL_PURPOSE_QUESTION' | translate}}</label>
                <textarea ng-model="ctrl.model.purposeOfTravel" disabled></textarea>
            </md-input-container>

        </div>
        <div layout-gt-md="row" layout-padding>
            <people-picker ng-model="ctrl.model.lineManager"
                           model-ids="ctrl.model.lineManagerId"
                           options="ctrl.pickerOptions.lineManagerPickerOptions" flex-gt-sm="50"></people-picker>
            <people-picker ng-model="ctrl.model.additionalStaffMember"
                           model-ids="ctrl.model.additionalStaffMemberId"
                           options="ctrl.pickerOptions.additionalStaffMemberOptions" flex-gt-sm="50"></people-picker>
        </div>
        <div layout-gt-md="row" layout-padding has-permissions="[ctrl.appPermissions.admin]">
            <list ng-model="ctrl.model.selectedEmergencyContacts"
                  options="ctrl.listOptions.tarEmergencyContactsListOptions"
                  flex-gt-sm="50">
            </list>
        </div>
    </accordion>
    <tar-details-common ng-model="ctrl.model"></tar-details-common>
</md-content>