<accordion heading="{{'EIF_GUEST_DETAILS' | translate | uppercase}}">
    <div layout-gt-sm="row" layout-padding>
        <md-input-container class="md-block" flex>
            <label>{{'FIRSTNAME_LABEL' | translate}}</label>
            <input ng-model="ctrl.model.firstName" type="text" name="firstName" required maxlength="255"/>
            <div class="errors" ng-messages="ctrl.form.firstName.$error"
                 ng-if='ctrl.isFieldErrorVisible("firstName")'>
                <div ng-messages-include="error-messages"></div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>{{'LASTNAME_LABEL' | translate}}</label>
            <input ng-model="ctrl.model.lastName" name="lastName" required maxlength="255"/>
            <div class="errors" ng-messages="ctrl.form.lastName.$error"
                 ng-if='ctrl.isFieldErrorVisible("lastName")'>
                <div ng-messages-include="error-messages"></div>
            </div>
        </md-input-container>
    </div>
    <div layout="row" layout-padding>
        <div layout="column">
            <label class="form-label-color">{{'BIRTHDAY' | translate}}</label>
            <md-datepicker ng-model="ctrl.model.dateOfBirth"
                           name="dateOfBirth"
                           required></md-datepicker>
            <div class="validation-messages" ng-messages="ctrl.form.dateOfBirth.$error"
                 ng-if="ctrl.isFieldErrorVisible('dateOfBirth')">
                <div ng-messages-include="error-messages"></div>
            </div>
        </div>
    </div>
    <div layout-gt-sm="row" layout-padding>
        <md-input-container class="md-block" flex>
            <label>{{'EIF_GUEST_CONTACT_NUMBER' | translate}}</label>
            <input ng-model="ctrl.model.contactNumber" type="text" name="contactNumber" required
                   mask="{{ctrl.maskOptions.phone.pattern}}"
                   pattern="{{ctrl.maskOptions.phone.regexValue}}"
                   mask-validate='false'/>
            <div class="errors" ng-messages="ctrl.form.contactNumber.$error"
                 ng-if='ctrl.isFieldErrorVisible("contactNumber")'>
                <div ng-messages-include="error-messages"></div>
                <div ng-message="pattern">{{'PHONEPATTERN_VALIDATION' | translate}}</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>{{'COUNTRY_OF_ORIGIN' | translate}}</label>
            <md-select ng-model="ctrl.model.countryOfOrigin"
                       name="countryOfOrigin" aria-label="dest"
                       placeholder="{{'COUNTRY_OF_ORIGIN' | translate}}"
                       required>
                <md-option ng-repeat="item in ctrl.countries" ng-value="item.title">
                    {{item.title}}
                </md-option>
            </md-select>
            <div ng-messages="ctrl.form.countryOfOrigin.$error"
                 ng-if='ctrl.isFieldErrorVisible("countryOfOrigin")'>
                <div ng-messages-include="error-messages"></div>
            </div>
        </md-input-container>
    </div>
    <div layout-gt-sm="row" layout-padding>
        <md-input-container class="md-block" flex>
            <label>{{'PASSPORT_NUMBER' | translate}}</label>
            <input ng-model="ctrl.model.passportNumber" name="passportNumber" pattern="[A-Za-z0-9]{6,25}"/>
            <div class="errors" ng-messages="ctrl.form.passportNumber.$error"
                 ng-if='ctrl.isFieldErrorVisible("passportNumber")'>
                <div ng-message="pattern">{{'PASSPORTPATTERN_VALIDATION' | translate}}</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>{{'EIF_PASSPORT_COUNTRY_ISSUE' | translate}}</label>
            <md-select ng-model="ctrl.model.passportCountry"
                       name="passportCountry" aria-label="dest"
                       placeholder="{{'EIF_PASSPORT_COUNTRY_ISSUE' | translate}}"
                       required>
                <md-option ng-repeat="item in ctrl.countries" ng-value="item.title">
                    {{item.title}}
                </md-option>
            </md-select>
            <div ng-messages="ctrl.form.passportCountry.$error"
                 ng-if='ctrl.isFieldErrorVisible("passportCountry")'>
                <div ng-messages-include="error-messages"></div>
            </div>
        </md-input-container>
    </div>
    <div layout-gt-sm="row" layout-padding>
        <md-input-container class="md-block" flex flex-gt-sm="50">
            <label>{{'EIF_VISA_NUMBER' | translate}}</label>
            <textarea ng-model="ctrl.model.visaNumbers" name="visaNumbers" required maxlength="255"></textarea>
            <div class="errors" ng-messages="ctrl.form.visaNumbers.$error"
                 ng-if='ctrl.isFieldErrorVisible("visaNumbers")'>
                <div ng-messages-include="error-messages"></div>
            </div>
        </md-input-container>
    </div>
</accordion>
<accordion heading="{{'EIF_GUEST_TRAVELLER_EMERGENCY' | translate | uppercase}}">
    <md-subheader>
        {{"EIF_EMERGENCY_LABEL" | translate}}
    </md-subheader>
    <div layout-gt-sm="row" layout-padding>
        <md-input-container class="md-block" flex>
            <label>{{'EMERGENCY_CONTACT_NAME' | translate}}</label>
            <input ng-model="ctrl.model.emergencyContactName" type="text" name="emergencyContactName" required
                   maxlength="255"/>
            <div class="errors" ng-messages="ctrl.form.emergencyContactName.$error"
                 ng-if='ctrl.isFieldErrorVisible("emergencyContactName")'>
                <div ng-messages-include="error-messages"></div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>{{'EMERGENCY_CONTACTS_RELATION' | translate}}</label>
            <input ng-model="ctrl.model.emergencyContactRelationship" type="text"
                   name="emergencyContactRelationship" required maxlength="255"/>
            <div class="errors" ng-messages="ctrl.form.emergencyContactRelationship.$error"
                 ng-if='ctrl.isFieldErrorVisible("emergencyContactRelationship")'>
                <div ng-messages-include="error-messages"></div>
            </div>
        </md-input-container>
    </div>
    <div layout-gt-sm="row" layout-padding>
        <md-input-container class="md-block" flex>
            <label>{{'EMAIL_ADDRESS' | translate}}</label>
            <input ng-model="ctrl.model.emergencyContactEmail" type="email" name="emergencyContactEmail" required/>
            <div class="errors" ng-messages="ctrl.form.emergencyContactEmail.$error"
                 ng-if='ctrl.isFieldErrorVisible("emergencyContactEmail")'>
                <div ng-messages-include="error-messages"></div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>{{'EIF_HOME_PHONE' | translate}}</label>
            <input ng-model="ctrl.model.emergencyContactHomePhone" type="text" name="emergencyContactHomePhone"
                   required
                   mask="{{ctrl.maskOptions.phone.pattern}}"
                   pattern="{{ctrl.maskOptions.phone.regexValue}}"
                   mask-validate='false'/>
            <div class="errors" ng-messages="ctrl.form.emergencyContactHomePhone.$error"
                 ng-if='ctrl.isFieldErrorVisible("emergencyContactHomePhone")'>
                <div ng-messages-include="error-messages"></div>
                <div ng-message="pattern">{{'PHONEPATTERN_VALIDATION' | translate}}</div>
            </div>
        </md-input-container>
    </div>
    <div layout-gt-sm="row" layout-padding>
        <md-input-container class="md-block" flex flex-gt-sm="50">
            <label>{{'EIF_MOBILE_PHONE' | translate}}</label>
            <input ng-model="ctrl.model.emergencyContactMobilePhone" type="text" name="emergencyContactMobilePhone" required
                   mask="{{ctrl.maskOptions.phone.pattern}}"
                   pattern="{{ctrl.maskOptions.phone.regexValue}}"
                   mask-validate='false'/>
            <div class="errors" ng-messages="ctrl.form.emergencyContactMobilePhone.$error"
                 ng-if='ctrl.isFieldErrorVisible("emergencyContactMobilePhone")'>
                <div ng-messages-include="error-messages"></div>
                <div ng-message="pattern">{{'PHONEPATTERN_VALIDATION' | translate}}</div>
            </div>
        </md-input-container>
    </div>
</accordion>
<accordion heading="{{'GUEST_MEDICAL_LABEL' | translate | uppercase}}">
    <md-subheader>
        {{"GUEST_MEDICAL_INFO" | translate}}
    </md-subheader>
    <div layout-gt-md="row" layout-padding layout-margin>
        <md-input-container class="md-block" flex-gt-sm="50">
            <label>{{'EIF_MEDICAL_CONDITIONS' | translate}}</label>
            <textarea ng-model="ctrl.model.medicalConditions" name="medicalConditions" required md-maxlength="512"></textarea>
            <div ng-messages="ctrl.form.medicalConditions.$error"
                 ng-if='ctrl.isFieldErrorVisible("medicalConditions")'>
                <div ng-messages-include="error-messages"></div>
            </div>
        </md-input-container>
    </div>
    <div layout-gt-sm="row" layout-padding layout-margin>
        <md-input-container class="md-block" flex-gt-sm="50">
            <label>{{'BLOOD_TYPE' | translate}}</label>
            <input type="text" name="bloodType" ng-model="ctrl.model.bloodType" required maxlength="255">
            <div ng-messages="ctrl.form.bloodType.$error" ng-if='ctrl.isFieldErrorVisible("bloodType")'>
                <div ng-messages-include="error-messages"></div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="50">
            <label>{{'INSURANCE_COMPANY' | translate}}</label>
            <input type="text" name="insuranceCompany" ng-model="ctrl.model.insuranceCompany" required
                   maxlength="255">
            <div ng-messages="ctrl.form.insuranceCompany.$error"
                 ng-if='ctrl.isFieldErrorVisible("insuranceCompany")'>
                <div ng-messages-include="error-messages"></div>
            </div>
        </md-input-container>
    </div>
    <div layout-gt-sm="row" layout-padding layout-margin>
        <md-input-container class="md-block" flex-gt-sm="50">
            <label>{{'INSURANCE_POLICY_NUMBER' | translate}}</label>
            <input type="text" name="insurancePolicyNumber" ng-model="ctrl.model.insurancePolicyNumber" required
                   maxlength="255">
            <div ng-messages="ctrl.form.insurancePolicyNumber.$error"
                 ng-if='ctrl.isFieldErrorVisible("insurancePolicyNumber")'>
                <div ng-messages-include="error-messages"></div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="50">
            <label>{{'INSURANCE_PHONE' | translate}}</label>
            <input type="text" name="insuranceCompanyPhone" ng-model="ctrl.model.insuranceCompanyPhone"
                   mask="{{ctrl.maskOptions.phone.pattern}}"
                   pattern="{{ctrl.maskOptions.phone.regexValue}}"
                   mask-validate='false'
                   required>
            <div ng-messages="ctrl.form.insuranceCompanyPhone.$error"
                 ng-if='ctrl.isFieldErrorVisible("insuranceCompanyPhone")'>
                <div ng-messages-include="error-messages"></div>
                <div ng-message="pattern">{{'PHONEPATTERN_VALIDATION' | translate}}</div>
            </div>
        </md-input-container>
    </div>
    <div layout-gt-md="row" layout-padding layout-margin>
        <md-input-container class="md-block" flex-gt-sm="50">
            <label>{{'INSURANCE_CONTACT' | translate}}</label>
            <input type="text" name="insuranceContact" ng-model="ctrl.model.insuranceContact" required
                   maxlength="255">
            <div ng-messages="ctrl.form.insuranceContact.$error"
                 ng-if='ctrl.isFieldErrorVisible("insuranceContact")'>
                <div ng-messages-include="error-messages"></div>
            </div>
        </md-input-container>
    </div>
    <div layout-gt-md="row" layout-padding layout-margin>
        <md-input-container class="md-block" flex-gt-sm="50">
            <label>{{'EIF_ADDITIONAL_COMMENTS' | translate}}</label>
            <textarea ng-model="ctrl.model.additionalComments" name="additionalComments"></textarea>
        </md-input-container>
    </div>
    <div layout-gt-sm="row" layout-padding>
        <file-upload ng-model="ctrl.model.uploadAttachments" unique-id="eif" flex="100"
                     class="attachment-controls"></file-upload>
    </div>
    <div layout-gt-sm="row" layout-padding>
        <attachments ng-model="ctrl.model.uploadedAttachments" options="ctrl.attachmentsOptions" flex="100"
                     class="attachment-controls"></attachments>
    </div>
</accordion>