<md-content ng-cloak class="md-inline-form">
    <ng-form name="form" novalidate>
        <wizard-header main="ctrl"></wizard-header>

        <toggle-accordion-section></toggle-accordion-section>

        <accordion heading="General Info">
            <div layout-gt-md="row" layout-padding>
                <label>Regional Response</label>
                <md-checkbox ng-model="ctrl.model.regionalResponse">
                </md-checkbox>
                <md-input-container class="md-block" flex-gt-sm="40" ng-hide="!ctrl.model.regionalResponse">
                    <label>Parent Regional Response</label>
                    <textarea ng-model="ctrl.model.parentRegionalResponse" name="parentRegionalResponse" md-maxlength="50"></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <div class="md-block" flex-gt-sm="30">
                    <label>Sitrep date</label>
                    <md-datepicker ng-model="ctrl.model.sitrepDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
                </div>

                <div class="md-block" flex-gt-sm="30">
                    <label>Next sitrep date</label>
                    <md-datepicker ng-model="ctrl.model.nextSitrepDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
                </div>
            </div>

            <div layout-gt-md="row" layout-padding>

                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>General Context</label>
                    <textarea ng-model="ctrl.model.generalContext" name="generalContext" required></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Recent Context Development</label>
                    <textarea ng-model="ctrl.model.recentContextDevelopment" name="recentContextDevelopment" required></textarea>
                </md-input-container>
            </div>
            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Response update</label>
                    <textarea ng-model="ctrl.model.responseUpdate" name="responseUpdate" required></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Ops Backstop</label>
                    <textarea ng-model="ctrl.model.opsBackstop" name="opsBackstop" required></textarea>
                </md-input-container>

            </div>

        </accordion>

        <accordion heading="Non SCI responses">
            <div class="md-block" flex-gt-sm="50">
                <label>Non SCI responses</label>
                <md-checkbox ng-model="ctrl.model.nonSciResponses">
                </md-checkbox>
            </div>
            <div ng-hide="!ctrl.model.nonSciResponses">
                Need to define non-sci responses questions. This will only show when checkbox above is true and questions will go here
            </div>
        </accordion>

        <accordion heading="Reach figures">
            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Affected population</label>
                    <textarea ng-model="ctrl.model.affectedPopulation" name="affectedPopulation" md-maxlength="7"></textarea>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Strategy target (all)</label>
                    <textarea ng-model="ctrl.model.strategyTarget" name="strategyTarget" md-maxlength="7"></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Strategy target (children)</label>
                    <textarea ng-model="ctrl.model.strategyTarget" name="strategyTarget" md-maxlength="7"></textarea>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Total reach since start date</label>
                    <textarea ng-model="ctrl.model.totalReachSinceStart" name="totalReachSinceStart" md-maxlength="7"></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Total reach since last sitrep</label>
                    <textarea ng-model="ctrl.model.totalReachSinceLastSitrep" name="totalReachSinceLastSitrep" md-maxlength="7"></textarea>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Children reached since start date</label>
                    <textarea ng-model="ctrl.model.childrenReachedSinceStart" name="childrenReachedSinceStart" md-maxlength="7"></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Children reached since last sitrep</label>
                    <textarea ng-model="ctrl.model.childrenReachedSinceLastSitrep" name="childrenReachedSinceLastSitrep" md-maxlength="7"></textarea>
                </md-input-container>
            </div>
        </accordion>

        <accordion heading="Income">
            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Response strategy target (USD)</label>
                    <textarea ng-model="ctrl.model.responseStrategyTarget" name="responseStrategyTarget" md-maxlength="7"></textarea>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Seed funds target (USD)</label>
                    <textarea ng-model="ctrl.model.seedFundsTarget" name="seedFundsTarget" md-maxlength="7"></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <div class="md-block" flex-gt-sm="25">
                    <label>Seed funds target date set</label>
                    <md-datepicker ng-model="ctrl.model.seedFundsTargetDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
                </div>
            </div>
        </accordion>

        <accordion heading="Deliverables">
            <div layout-gt-md="row" layout-padding>
                <label style="width: 128px">Assessment</label>
                <md-checkbox ng-model="ctrl.model.assessmentBool">
                </md-checkbox>
                <md-input-container class="md-block" flex-gt-sm="40" ng-hide="!ctrl.model.assessmentBool">
                    <label>Address of OneNet document</label>
                    <textarea ng-model="ctrl.model.assessment" name="assessment"></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <label style="width: 128px">Outline</label>
                <md-checkbox ng-model="ctrl.model.outlineBool">
                </md-checkbox>
                <md-input-container class="md-block" flex-gt-sm="40" ng-hide="!ctrl.model.outlineBool">
                    <label>Address of OneNet document</label>
                    <textarea ng-model="ctrl.model.outline" name="outline"></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <label style="width: 128px">Strategy</label>
                <md-checkbox ng-model="ctrl.model.strategyBool">
                </md-checkbox>
                <md-input-container class="md-block" flex-gt-sm="40" ng-hide="!ctrl.model.strategyBool">
                    <label>Address of OneNet document</label>
                    <textarea ng-model="ctrl.model.strategy" name="strategy"></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <label style="width: 128px">Plan</label>
                <md-checkbox ng-model="ctrl.model.planBool">
                </md-checkbox>
                <md-input-container class="md-block" flex-gt-sm="40" ng-hide="!ctrl.model.planBool">
                    <label>Address of OneNet document</label>
                    <textarea ng-model="ctrl.model.plan" name="plan"></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <label style="width: 128px">Operations Control review</label>
                <md-checkbox ng-model="ctrl.model.operationsControlReviewBool">
                </md-checkbox>
                <md-input-container class="md-block" flex-gt-sm="40" ng-hide="!ctrl.model.operationsControlReviewBool">
                    <label>Address of OneNet document</label>
                    <textarea ng-model="ctrl.model.operationsControlReview" name="operationsControlReview"></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <label style="width: 128px">Real-time review</label>
                <md-checkbox ng-model="ctrl.model.realTimeReviewBool">
                </md-checkbox>
                <md-input-container class="md-block" flex-gt-sm="40" ng-hide="!ctrl.model.realTimeReviewBool">
                    <label>Address of OneNet document</label>
                    <textarea ng-model="ctrl.model.realTimeReview" name="realTimeReview"></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <label>Represetation on Humanitarian Country Team (HCT)</label>
                <md-checkbox ng-model="ctrl.model.representationOnHCT">
                </md-checkbox>
                <label>Education cluster or working group activated</label>
                <md-checkbox ng-model="ctrl.model.educationCluster">
                </md-checkbox>
                <label>Staffing education cluster or working group</label>
                <md-checkbox ng-model="ctrl.model.staffingEducationCluster">
                </md-checkbox>
            </div>
        </accordion>

        <accordion heading="Sectors">
            <div layout-gt-md="row" layout-padding>
                <label style="width: 128px">Child protection</label>
                <md-checkbox ng-model="ctrl.model.childProtectionBool">
                </md-checkbox>
                <md-input-container class="md-block" flex-gt-sm="40" ng-hide="!ctrl.model.childProtectionBool">
                    <label>Backstop</label>
                    <textarea ng-model="ctrl.model.childProtectionBackstop" name="childProtectionBackstop"></textarea>
                </md-input-container>
            </div>
            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50" ng-hide="!ctrl.model.childProtectionBool">
                    <label>Summary of response to date and achievements since last sitrep</label>
                    <textarea ng-model="ctrl.model.childProtectionSummary" name="childProtectionSummary"></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <label style="width: 128px">Education</label>
                <md-checkbox ng-model="ctrl.model.educationBool">
                </md-checkbox>
                <md-input-container class="md-block" flex-gt-sm="40" ng-hide="!ctrl.model.educationBool">
                    <label>Backstop</label>
                    <textarea ng-model="ctrl.model.educationBackstop" name="educationBackstop"></textarea>
                </md-input-container>
            </div>
            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50" ng-hide="!ctrl.model.educationBool">
                    <label>Summary of response to date and achievements since last sitrep</label>
                    <textarea ng-model="ctrl.model.educationSummary" name="educationSummary"></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <label style="width: 128px">FLS</label>
                <md-checkbox ng-model="ctrl.model.FSLBool">
                </md-checkbox>
                <md-input-container class="md-block" flex-gt-sm="40" ng-hide="!ctrl.model.FSLBool">
                    <label>Backstop</label>
                    <textarea ng-model="ctrl.model.FSLBackstop" name="FSLBackstop"></textarea>
                </md-input-container>
            </div>
            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50" ng-hide="!ctrl.model.FSLBool">
                    <label>Summary of response to date and achievements since last sitrep</label>
                    <textarea ng-model="ctrl.model.FSLSummary" name="FSLSummary"></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <label style="width: 128px">WASH</label>
                <md-checkbox ng-model="ctrl.model.WASHBool">
                </md-checkbox>
                <md-input-container class="md-block" flex-gt-sm="40" ng-hide="!ctrl.model.WASHBool">
                    <label>Backstop</label>
                    <textarea ng-model="ctrl.model.WASHBackstop" name="WASHBackstop"></textarea>
                </md-input-container>
            </div>
            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50" ng-hide="!ctrl.model.WASHBool">
                    <label>Summary of response to date and achievements since last sitrep</label>
                    <textarea ng-model="ctrl.model.WASHSummary" name="WASHSummary"></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <label style="width: 128px">Shelter</label>
                <md-checkbox ng-model="ctrl.model.shelterBool">
                </md-checkbox>
                <md-input-container class="md-block" flex-gt-sm="40" ng-hide="!ctrl.model.shelterBool">
                    <label>Backstop</label>
                    <textarea ng-model="ctrl.model.shelterBackstop" name="shelterBackstop"></textarea>
                </md-input-container>
            </div>
            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50" ng-hide="!ctrl.model.shelterBool">
                    <label>Summary of response to date and achievements since last sitrep</label>
                    <textarea ng-model="ctrl.model.shelterSummary" name="shelterSummary"></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <label style="width: 128px">Health</label>
                <md-checkbox ng-model="ctrl.model.healthBool">
                </md-checkbox>
                <md-input-container class="md-block" flex-gt-sm="40" ng-hide="!ctrl.model.healthBool">
                    <label>Backstop</label>
                    <textarea ng-model="ctrl.model.healthBackstop" name="healthBackstop"></textarea>
                </md-input-container>
            </div>
            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50" ng-hide="!ctrl.model.healthBool">
                    <label>Summary of response to date and achievements since last sitrep</label>
                    <textarea ng-model="ctrl.model.healthSummary" name="healthSummary"></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <label style="width: 128px">EHU Depolyed</label>
                <md-checkbox ng-model="ctrl.model.EHUUpdatesBool">
                </md-checkbox>
                <md-input-container class="md-block" flex-gt-sm="40" ng-hide="!ctrl.model.EHUUpdatesBool">
                    <label>Link to EHU updates</label>
                    <textarea ng-model="ctrl.model.EHUUpdates" name="EHUUpdates"></textarea>
                </md-input-container>
            </div>
            <div layout-gt-md="row" layout-padding>
                <label style="width: 128px">EHU Present</label>
                <md-checkbox ng-model="ctrl.model.EHUPresent">
                </md-checkbox>
            </div>

        </accordion>

        <accordion heading="HR">
            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label># of national response staff</label>
                    <textarea ng-model="ctrl.model.nationalStaffNumber" name="nationalStaffNumber" md-maxlength="7"></textarea>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label># of international staff</label>
                    <textarea ng-model="ctrl.model.internationalStaffNumber" name="internationalStaffNumber" md-maxlength="7"></textarea>
                </md-input-container>
            </div>
        </accordion>

        <accordion heading="Saftey and security">
            <md-input-container class="md-block" flex-gt-sm="50">
                <label>Overall security level in country</label>
                <md-select ng-model="ctrl.model.securityLevel" placeholder="Select">
                    <md-option ng-repeat="item in ctrl.securityLevels" ng-value="item">
                        {{item}}
                    </md-option>
                </md-select>
            </md-input-container>

            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Summary of incidents and impact on response</label>
                    <textarea ng-model="ctrl.model.incidentSummary" name="incidentSummary" required></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Events that may affect the security situation</label>
                    <textarea ng-model="ctrl.model.securityEvents" name="securityEvents" required></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Please provide an overview of the S&amp;S  context, 
                                including details of security incidents,
                                since the last SitRep</label>
                    <textarea ng-model="ctrl.model.securityContext" name="securityContext" required></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>What immediate S&amp;S challenges are predicted?</label>
                    <textarea ng-model="ctrl.model.securityChallenges" name="securityChallenges" required></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>How will those challenges be managed?</label>
                    <textarea ng-model="ctrl.model.securityManagement" name="securityManagement" required></textarea>
                </md-input-container>
            </div>

        </accordion>

        <accordion heading="Child safegaurding">

            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>% of staff with child safeguarding training</label>
                    <textarea ng-model="ctrl.model.staffChildSafegaurding" name="staffChildSafegaurding" required></textarea>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Child safeguarding focal point</label>
                    <textarea ng-model="ctrl.model.safegaurdingFocalPoint" name="safegaurdingFocalPoint" required></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Key safeguarding risks to children</label>
                    <textarea ng-model="ctrl.model.safegaurdingRisks" name="safegaurdingRisks" required></textarea>
                </md-input-container>
            </div>

        </accordion>

        <accordion heading="Advanced Media and Comms">

            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Communication Pack</label>
                    <textarea ng-model="ctrl.model.commsPack" name="commsPack" required></textarea>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Recent media coverage</label>
                    <textarea ng-model="ctrl.model.mediaCoverage" name="mediaCoverage" required></textarea>
                </md-input-container>
            </div>

            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Spokespeople</label>
                    <textarea ng-model="ctrl.model.spokespeople" name="spokespeople" required></textarea>
                </md-input-container>
            </div>

        </accordion>

        <accordion heading="Emergency supply chain">
            <div layout-gt-md="row" layout-padding>
                <label>Do you have prepositioned stock in country?</label>
                <md-checkbox ng-model="ctrl.model.prepositionedStock">
                </md-checkbox>
                <label>Are you planning to use it for this response?</label>
                <md-checkbox ng-model="ctrl.model.forThisResponse">
            </div>

            <div layout-gt-md="row" layout-padding>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Planned procurement on this response (in USD)</label>
                    <textarea ng-model="ctrl.model.plannedProcurement" name="plannedProcurement" md-maxlength="7"></textarea>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>Procurement spend to date (in USD)</label>
                    <textarea ng-model="ctrl.model.procurementSpend" name="procurementSpend" md-maxlength="7"></textarea>
                </md-input-container>
            </div>
        </accordion>

    </ng-form>
</md-content>