<div md-theme="pageTheme">
    <md-fab-speed-dial md-direction="right" md-open="ctrl.isOpen" class="md-scale" ng-style="ctrl.getStyle()">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-primary" ng-link="['Create']">
                <i class="material-icons md-icon-30">add</i>
            </md-button>
        </md-fab-trigger>
        <!-- <md-fab-actions>
            <md-button aria-label="Create report" class="md-primary md-raised md-mini" ng-link="['Create']">
                <span>Create report</span>
            </md-button>
        </md-fab-actions> -->
    </md-fab-speed-dial>
</div>