<div layout-gt-xs="row" layout-align="start center">
    <md-input-container class="md-block" flex-gt-sm="50" >
        <label>{{'DATE_OPERATORS_LABEL' | translate}}</label>
        <md-select ng-model="ctrl.model.operator" placeholder="{{'DATE_OPERATORS_LABEL' | translate}}">
            <md-option ng-repeat="item in ctrl.dateOperators" ng-value="item.value">
                {{item.displayText}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-datepicker ng-model="ctrl.model.value"
                   md-placeholder="{{ctrl.label | translate}}">
    </md-datepicker>
</div>