<md-content md-theme="pageTheme" flex>
    <ng-form name="form" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools" layout-align="space-between center">
                <h2>{{'EMERGENCY_CONTACT_TITLE' | translate}}</h2>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout="column" class="md-padding md-dialog-content">
            <div layout-gt-sm="row" layout-padding>
                <md-input-container class="md-block" flex>
                    <label class="md-primary">{{'EMERGENCY_CONTACTS_NAME' | translate}}</label>
                    <input type="text" name="contactName" ng-model="ctrl.model.contactName" required maxlength="255">
                    <div class="errors" ng-messages="form.contactName.$error"
                         ng-if='ctrl.isFieldErrorVisible(form, "contactName")'>
                        <div ng-messages-include="error-messages"></div>
                    </div>
                </md-input-container>
            </div>
            <div layout-gt-sm="row" layout-padding>
                <md-input-container class="md-block" flex>
                    <label>{{'EMERGENCY_CONTACTS_RELATION' | translate}}</label>
                    <input type="text" name="relationship" ng-model="ctrl.model.relationship" required maxlength="255">
                    <div class="errors" ng-messages="form.relationship.$error"
                         ng-if='ctrl.isFieldErrorVisible(form, "relationship")'>
                        <div ng-messages-include="error-messages"></div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-padding layout-align="start center">
                <label class="form-label-color">{{'EMERGENCY_CONTACTS_PHONE' | translate}}</label>
                <md-button class="md-icon-button md-raised md-primary" ng-click="ctrl.addNewPhone()"><i
                        class="material-icons">add_circle_outline</i>
                </md-button>
            </div>
            <div layout="row" ng-repeat="phone in ctrl.model.phoneNumbers" layout-margin layout-align="start center">
                <div layout-gt-sm="row" layout="column">
                    <md-input-container class="md-block">
                        <label>{{'EMERGENCY_CONTACTS_PHONE_TYPE' | translate}}</label>
                        <md-select ng-model="ctrl.model.phoneNumbers[$index].type"
                                   name="{{ctrl.phoneFormNames($index).phoneType}}" required>
                            <md-option ng-repeat="item in ctrl.phoneTypes" value="{{item}}">
                                {{item | translate | uppercase}}
                            </md-option>
                        </md-select>
                        <div class="errors" ng-messages="form[ctrl.phoneFormNames($index).phoneType].$error"
                             ng-if='ctrl.isFieldErrorVisible(form, ctrl.phoneFormNames($index).phoneType)'>
                            <div ng-messages-include="error-messages"></div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{'EMERGENCY_CONTACTS_PHONE_NR' | translate}}</label>
                        <input type="text" ng-model="ctrl.model.phoneNumbers[$index].number"
                               name="{{ctrl.phoneFormNames($index).phoneNumber}}"
                               mask="{{ctrl.maskOptions.phone.pattern}}"
                               pattern="{{ctrl.maskOptions.phone.regexValue}}"
                               mask-validate='false'
                               required>
                        <div class="errors" ng-messages="form[ctrl.phoneFormNames($index).phoneNumber].$error"
                             ng-if='ctrl.isFieldErrorVisible(form, ctrl.phoneFormNames($index).phoneNumber)'>
                            <div ng-messages-include="error-messages"></div>
                            <div ng-message="pattern">{{'PHONEPATTERN_VALIDATION' | translate}}</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="column" class="phone-delete-button">
                    <md-button class="md-icon-button" ng-click="ctrl.removePhone(phone)">
                        <i class="material-icons md-icon-30">delete_forever</i>
                    </md-button>
                </div>
            </div>
        </md-content>
        <div layout="row" layout-align="end center">
            <md-button class="md-raised md-primary saveButton" ng-click="ctrl.storeContact(form)">
                {{ctrl.pageMode.actionName | translate}}
            </md-button>
        </div>
    </ng-form>
</md-content>