<md-toolbar class="md-menu-toolbar" layout="row">
    <md-content layout="row" flex="100">
        <div layout="row" layout-align="start center" flex>
            <md-button class="md-ink-ripple" aria-label="Settings" ng-click="ctrl.toggleSideNav('nav')">
                <i class="material-icons md-light md-icon-35 icon">reorder</i>
            </md-button>
            <logo></logo>
        </div>

        <div layout="row" layout-align="end center" flex>
        </div>
    </md-content>
</md-toolbar>