<md-toolbar class="md-menu-toolbar" layout="row">
    <md-content layout="row" flex="100">
        <div layout="row" layout-align="start center" flex>
            <md-button class="md-ink-ripple" aria-label="Settings" ng-click="ctrl.toggleSideNav('nav')">
                <i class="material-icons md-light md-icon-35 icon">reorder</i>
            </md-button>
            <logo></logo>
        </div>

        <div layout="row" layout-align="end center" flex>

            <md-menu-bar>
                <md-menu md-position-mode="target-right target" md-offset="0 61">
                    <!-- <md-button class="md-ink-ripple" aria-label="Profile" ng-click="ctrl.showProfileMenu($mdOpenMenu, $event)">
                        <i class="material-icons md-light md-icon-35 icon">person_pin</i>
                    </md-button> -->
                    <md-menu-content width="3">
                        <!-- <md-menu-item>
                            <md-content>
                                <md-button aria-label="DelegateProfile" ng-click="ctrl.showProfileDelegateAccess()">
                                    <i class="material-icons md-light">person_add</i>
                                    <span class="profile-menu-item">{{'DELEGATE_ACCESS_MENU_ITEM' | translate}}</span>
                                </md-button>
                            </md-content>
                        </md-menu-item> -->
                        <!-- <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-content>
                                <md-button aria-label="Profile" ng-link="['ProfileWizard']">
                                    <i class="material-icons md-light">person</i>
                                    <span class="profile-menu-item">{{'MY_PROFILE_MENU_ITEM' | translate}}</span>
                                </md-button>
                            </md-content>
                        </md-menu-item> -->
                        <!--                         <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-content>
                                <md-button class="md-ink-ripple" aria-label="Profile" ng-link="['ProfileSearch']">
                                    <i class="material-icons md-light">people</i>
                                    <span class="profile-menu-item">Profiles</span>
                                </md-button>
                            </md-content>
                        </md-menu-item> -->
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
    </md-content>
</md-toolbar>