<div layout-gt-sm="row" layout-padding layout-align="start center" ng-if="!ctrl.hidden">
    <md-input-container layout-margin class="md-block" flex-gt-sm="{{ctrl.options.flex}}">
        <label>{{ctrl.options.label | translate}}</label>
        <md-select ng-model="ctrl.model"
                   name="{{ctrl.options.name}}" aria-label="label"
                   placeholder="{{ctrl.options.label | translate}}"
                   ng-disabled="ctrl.isDisabled"
                   md-container-class="optionsPosition">
            <md-option ng-repeat="item in ctrl.answers" value="{{item}}" ng-show="item != ctrl.empty">
                {{item | translate | uppercase}}
            </md-option>
        </md-select>
        <div class="errors" ng-messages="ctrl.form[ctrl.options.name].$error"
             ng-if="ctrl.form.submitted || ctrl.form[ctrl.options.name].$touched">
            <div ng-message="novalue">{{'REQUIRED_VALIDATION' | translate}}</div>
        </div>
    </md-input-container>
    <div ng-transclude></div>
    <md-subheader class="md-primary" flex ng-show="ctrl.options.showWarning && ctrl.isWarningVisible()" layout-align="start center">
        {{ctrl.options.warningMessage | translate}}
        <md-button class="md-icon-button warning-button" ng-href="{{ctrl.options.warningUrl}}" target="_blank">
            <i class="material-icons">warning</i>
        </md-button>
    </md-subheader>
</div>

