<md-content ng-cloak class="md-inline-form">
    <ng-form name="form" novalidate>
        <wizard-header main="ctrl"></wizard-header>

        <toggle-accordion-section></toggle-accordion-section>

        <accordion heading="{{'REQUEST_INFO' | translate | uppercase}}">
            <div layout-gt-md="row" layout-padding>
                <people-picker ng-model="ctrl.model.staffResponsibleForGuest"
                               model-ids="ctrl.model.staffResponsibleForGuestId"
                               options="ctrl.features.pickerOptions.staffResponsiblePickerOptions"
                               flex-gt-sm="50"></people-picker>
                <people-picker ng-model="ctrl.model.additionalStaffMember"
                               model-ids="ctrl.model.additionalStaffMemberId"
                               options="ctrl.features.pickerOptions.additionalStaffMemberOptions" 
                               flex-gt-sm="50"></people-picker>
            </div>
        </accordion>

        <eif-wizard-common ng-model="ctrl.model" countries="ctrl.countries"></eif-wizard-common>

        <accordion heading="{{'REQUEST_ITINERARY' | translate | uppercase}}">
            <list ng-model="ctrl.model.destinations"
                  options="ctrl.features.listOptions.destinationsListOptions"
                  layout-margin>
            </list>
            <div layout-gt-md="row" layout-padding layout-margin>
                <md-input-container class="md-block" flex-gt-sm="50">
                    <label>{{'TRAVEL_DETAILS' | translate}}</label>
                    <textarea ng-model="ctrl.model.travelRouteDetails" name="travelRouteDetails"></textarea>
                </md-input-container>
            </div>
        </accordion>
        <accordion heading="{{'TERMS_AND_CONDITIONS' | translate | uppercase}}">
            <question ng-model="ctrl.model.informationRead.travelProcedures"
                      options="ctrl.features.questionsOptions.travelProceduresOptions"></question>
            <question ng-model="ctrl.model.informationRead.travelPolicy"
                      options="ctrl.features.questionsOptions.travelPolicyOptions"></question>
            <question ng-model="ctrl.model.informationRead.departureShare"
                      options="ctrl.features.questionsOptions.departureShareOptions"></question>
            <question ng-model="ctrl.model.informationRead.safeGuardingPolicy"
                      options="ctrl.features.questionsOptions.safeGuardingPolicyOptions"></question>
        </accordion>
    </ng-form>
</md-content>