<md-content>
    <div class="col-md-12">
        <div class="md-no-sticky md-subheader _md md-pageTheme-theme">
            <div class="md-subheader-inner">
                <div class="md-subheader-content" layout-gt-md="row" >
                    <h1>OMT Responses</h1>
                    <md-button aria-label="Create new response" ng-hide="!ctrl.isAdmin()" class="md-primary md-raised md-mini" style="float: right" ng-link="['Response']">
                            <span>Create new response</span>
                        </md-button>
                </div>
            </div>            
        </div>
            <grid options="ctrl.responseCodeOptions"></grid>
    </div>
</md-content>
