<md-content>
    <div class="col-md-12">
        <div class="md-no-sticky md-subheader _md md-pageTheme-theme">
            <div class="md-subheader-inner">
                <div class="md-subheader-content">
                    <h1>OMT Responses</h1>
                </div>
            </div>            
        </div>
        <md-button aria-label="Add report" class="md-primary md-raised md-mini" ng-link="['TarWizardAdd']">
            <span>Add report</span>
        </md-button>
        <md-button aria-label="Create new response" ng-hide="!ctrl.isAdmin()" class="md-primary md-raised md-mini" ng-link="['Profile']">
            <span>Create new response</span>
        </md-button>
        <md-content>
            <md-subheader></md-subheader>

            <md-list-item ng-repeat="item in ctrl.responseCodeOptions.data" ng-click="ctrl.listItemClick(item.Id)">
                <span>
                   {{item.Code}} {{item.Description}} {{item.StartDate}} {{item.Country}}{{item.Region}}{{item.Id}}
                </span>
        </md-list-item>

            </div>
        </md-content>
    </div>
</md-content>