<md-content>
    <div layout="row" layout-align="end center">
        <md-button class="md-fab md-primary" ng-click="ctrl.toggleContent()" ng-if="ctrl.isContentVisible">
            <i class="material-icons md-icon-35" ng-class="ctrl.getToggleClass()">zoom_out</i>
        </md-button>
        <md-button class="md-fab md-primary" ng-click="ctrl.toggleContent()" ng-if="!ctrl.isContentVisible">
            <i class="material-icons md-icon-35" ng-class="ctrl.getToggleClass()">zoom_in</i>
        </md-button>
    </div>
</md-content>