<div layout-gt-sm="row" layout-align="space-between center">
    <h2>{{ctrl.main.title | translate}}</h2>
    <div layout="row">
        <md-button class="md-raised md-primary" aria-label="save"
                   ng-hide="ctrl.main.isRequestProcessing"
                   ng-click="ctrl.main.storeAsDraft()">
            {{ctrl.main.pageMode.draftActionName | translate}}
        </md-button>
        <md-button class="md-raised md-primary" aria-label="save"
                   ng-hide="ctrl.main.isRequestProcessing"
                   ng-click="ctrl.main.storeAsRequest(ctrl.form)"
                   ng-disabled="!ctrl.main.isReadyToSubmit()">
            {{ctrl.main.pageMode.actionName | translate}}
        </md-button>
        <md-progress-circular md-mode="indeterminate" class="md-primary md-hue-3" ng-show="ctrl.main.isRequestProcessing"
                              md-diameter="70"></md-progress-circular>
    </div>
</div>