<md-content ng-cloak>
    <div layout-gt-sm="row" layout-align="start center">
        <h2>{{ctrl.title | translate}}</h2>
    </div>

    <toggle-accordion-section></toggle-accordion-section>

    <accordion heading="{{'REQUEST_INFO' | translate | uppercase}}">
        <people-picker ng-model="ctrl.model.staffResponsibleForGuest"
                       model-ids="ctrl.model.staffResponsibleForGuestId"
                       options="ctrl.pickerOptions.staffResponsiblePickerOptions"
                       flex-gt-sm="50"></people-picker>
    </accordion>

    <eif-details-common ng-model="ctrl.model"></eif-details-common>

    <accordion heading="{{'REQUEST_ITINERARY' | translate | uppercase}}">
        <list ng-model="ctrl.model.destinations"
              options="ctrl.listOptions.destinationsListOptions"
              layout-margin>
        </list>
        <div layout-gt-md="row" layout-padding layout-margin>
            <md-input-container class="md-block" flex-gt-sm="50">
                <label>{{'TRAVEL_DETAILS' | translate}}</label>
                <textarea ng-model="ctrl.model.travelRouteDetails" disabled></textarea>
            </md-input-container>
        </div>
    </accordion>
</md-content>